* {
	padding:0;
	margin:0;
}
body {
	width:900px;
	margin:0 auto;

}

table.rating {
	width:100%;
	border-collapse:collapse;
	border-spacing:0 10px;
	font-family: sans-serif;
	font-size:0.8em;
}

table.rating tr:first-child {
	background-color:#f0f0f0;
	height:40px;
}
table.rating tr td, table.rating tr th {
	padding:15px 5px;
	text-align:center;
}
table.rating tr td:first-child {
	font-size: 1.2em;
	font-weight:bold;
}
.position {
	width:20px;
	height:20px;
	display:block;
	background-color:#f4f8f9;
	padding:5px;
	border-radius:50%;
	line-height:20px;
}
table.rating tr:nth-child(odd) {
	background-color:#f5f9fa;
}

.logo {
	width:130px;
	height:auto;
	border-radius:5px;
}
.stars img {
	display:inline-block;
	float:left;
	margin:0 2px;
	width:20px;
	height:20px;
}
.bonus span {
	display:block;
	color:#50ab7f;
	font-size: 2em;
	font-weight:bold;
	margin:10px 0;
}
.name {
	color:#0374f4;
	font-size:1.2em;
	font-weight:bold;
	text-align:left;
	margin-bottom:10px;
}